*{box-sizing:border-box;}
body{margin:0;font-family:sans-serif;
  background-image:linear-gradient(45deg,rgba(238,238,238,1) 0%,rgba(245,245,245,1) 100%);
  background-size:20px 20px;font-size:14px;height:100%;}
h1{margin:0;}
h2,h3,h4,h5,h6{margin:20px 0;}
ul{margin:0;padding:0;}
li{list-style-type:none;}
.simple-list{padding:0 20px;margin:10px 0 20px;}
.simple-list ul{padding:0 20px;}
.simple-list li{list-style-position:inside;}
ul.simple-list li{list-style-type:disc;}
ul.simple-list ul li{list-style-type:circle;}
ol.simple-list li{list-style-type:decimal;}
p + .simple-list{margin-top:-10px;}
a{color:#522;}
button{cursor:pointer;}
p{margin:0 0 20px;}
.code{padding:10px;margin:20px 0;overflow:auto;border:1px solid rgba(0,140,255,1);border-radius:6px;
  font-family:monospace;background:#eadbde;font-size:12px;white-space:pre;}
.ticks{padding:3px;border-radius:3px;color:#8c2121;font-weight:bold;background:#d0afaf;}
.tree::before{content:"\1f384\a0";color:green;text-decoration:none;}
.logo span{font-weight:bold;text-decoration:underline;}
.wrapper{height:100%;min-width:1000px;}
header{position:relative;z-index:1;height:72px;padding:20px;box-shadow:0 1px 4px 4px #ccc;
  background:rgba(255,255,245,0.4);}
header .links{float:right;font-weight:bold;}
header .links a{margin:0 0 0 10px;}
.main{height:calc(100% - 72px);}
.aside-menu{position:relative;height:100%;width:70px;padding:20px;overflow:auto;
  box-shadow:3px 0 4px #ccc;background:rgba(245,255,255,0.4);transition:0.2s;}
.aside-menu button{width:30px;height:30px;padding:0;}
.aside-menu .menu-content{display:none;}
.aside-menu.expanded button{margin-bottom:20px;}
.aside-menu.expanded .menu-content{display:block;}
.contents-menu{float:left;font-weight:bold;}
.contents-menu ul ul{padding:0 0 0 20px;display:none;}
.contents-menu > ul > li {border-bottom:1px dashed #cac9c9;}
.contents-menu ul > li > div {padding:10px 0;}
.contents-menu .tree + ul{display:block;}
.contents-menu.expanded{width:260px;}
.contents-submenu{float:right;background:rgba(239,223,163,0.4);
  box-shadow:-3px 0 4px #ccc;}
.contents-submenu .button-wrapper{text-align:right;}
.contents-submenu.expanded{min-width:200px;width:auto;}
.contents-submenu li{padding:5px 0;}
.content{height:100%;padding:40px 50px;overflow:auto;line-height:1.5;background:#f3efeb;
  text-align:justify;}
